In [1]:
import pandas as pd
import numpy as np

In [2]:
submit = pd.read_csv('submit_sample.csv',header=None)
test = pd.read_csv('test.csv')
train = pd.read_csv('train.csv')

In [3]:
data = pd.concat([train, test], sort = False)

In [4]:
data['month'].replace(['jan','feb','mar','apr','may','jun','jul','aug','sep','oct','nov','dec'], [1,2,3,4,5,6,7,8,9,10,11,12], inplace=True)

In [5]:
data['housing'].replace(['yes','no'], [1, 0], inplace= True)

In [6]:
data['loan'].replace(['yes','no'], [1, 0], inplace= True)

In [7]:
data['default'].replace(['yes','no'], [1, 0], inplace= True)

In [8]:
# data['era'] = pd.cut(data['age'], bins=np.arange(0, 110, 10), right=False,labels=False)

In [9]:
# data['era']

In [10]:
from sklearn.preprocessing import LabelEncoder

#LabelEncoderのインスタンスを生成
le = LabelEncoder()
#ラベルを覚えさせる
le = le.fit(data['job'])
#ラベルを整数に変換
data['job'] = le.transform(data['job'])
data

,id,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,0,31,7,married,secondary,0,12294,1,0,cellular,21,11,101,3,498,0,other,0.0
1,1,29,2,single,tertiary,0,43027,0,0,cellular,22,8,158,2,702,0,unknown,1.0
2,2,35,4,married,tertiary,0,12252,1,0,cellular,11,11,351,1,826,0,failure,0.0
3,3,31,9,married,secondary,0,99121,1,1,unknown,16,5,658,2,120,0,failure,0.0
4,4,48,10,married,primary,0,42005,1,0,telephone,3,4,177,1,273,0,unknown,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18045,18045,49,6,married,tertiary,0,98357,1,0,cellular,6,7,101,2,417,0,failure,NaN
18046,18046,34,1,married,secondary,0,29621,1,0,cellular,12,5,345,1,815,0,unknown,NaN
18047,18047,34,0,single,secondary,0,94260,1,0,unknown,16,5,121,2,370,0,unknown,NaN
18048,18048,31,9,single,secondary,0,65483,1,0,unknown,15,5,345,2,41,0,unknown,NaN
18049,18049,30,5,married,primary,0,6474,0,0,cellular,13,8,158,1,699,0,unknown,NaN

In [11]:
le = le.fit(data['marital'])
data['marital'] = le.transform(data['marital'])
data

,id,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,0,31,7,1,secondary,0,12294,1,0,cellular,21,11,101,3,498,0,other,0.0
1,1,29,2,2,tertiary,0,43027,0,0,cellular,22,8,158,2,702,0,unknown,1.0
2,2,35,4,1,tertiary,0,12252,1,0,cellular,11,11,351,1,826,0,failure,0.0
3,3,31,9,1,secondary,0,99121,1,1,unknown,16,5,658,2,120,0,failure,0.0
4,4,48,10,1,primary,0,42005,1,0,telephone,3,4,177,1,273,0,unknown,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18045,18045,49,6,1,tertiary,0,98357,1,0,cellular,6,7,101,2,417,0,failure,NaN
18046,18046,34,1,1,secondary,0,29621,1,0,cellular,12,5,345,1,815,0,unknown,NaN
18047,18047,34,0,2,secondary,0,94260,1,0,unknown,16,5,121,2,370,0,unknown,NaN
18048,18048,31,9,2,secondary,0,65483,1,0,unknown,15,5,345,2,41,0,unknown,NaN
18049,18049,30,5,1,primary,0,6474,0,0,cellular,13,8,158,1,699,0,unknown,NaN

In [12]:
le = le.fit(data['education'])
data['education'] = le.transform(data['education'])
data

,id,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,0,31,7,1,1,0,12294,1,0,cellular,21,11,101,3,498,0,other,0.0
1,1,29,2,2,2,0,43027,0,0,cellular,22,8,158,2,702,0,unknown,1.0
2,2,35,4,1,2,0,12252,1,0,cellular,11,11,351,1,826,0,failure,0.0
3,3,31,9,1,1,0,99121,1,1,unknown,16,5,658,2,120,0,failure,0.0
4,4,48,10,1,0,0,42005,1,0,telephone,3,4,177,1,273,0,unknown,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18045,18045,49,6,1,2,0,98357,1,0,cellular,6,7,101,2,417,0,failure,NaN
18046,18046,34,1,1,1,0,29621,1,0,cellular,12,5,345,1,815,0,unknown,NaN
18047,18047,34,0,2,1,0,94260,1,0,unknown,16,5,121,2,370,0,unknown,NaN
18048,18048,31,9,2,1,0,65483,1,0,unknown,15,5,345,2,41,0,unknown,NaN
18049,18049,30,5,1,0,0,6474,0,0,cellular,13,8,158,1,699,0,unknown,NaN

In [13]:
le = le.fit(data['contact'])
data['contact'] = le.transform(data['contact'])
data

,id,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,0,31,7,1,1,0,12294,1,0,0,21,11,101,3,498,0,other,0.0
1,1,29,2,2,2,0,43027,0,0,0,22,8,158,2,702,0,unknown,1.0
2,2,35,4,1,2,0,12252,1,0,0,11,11,351,1,826,0,failure,0.0
3,3,31,9,1,1,0,99121,1,1,2,16,5,658,2,120,0,failure,0.0
4,4,48,10,1,0,0,42005,1,0,1,3,4,177,1,273,0,unknown,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18045,18045,49,6,1,2,0,98357,1,0,0,6,7,101,2,417,0,failure,NaN
18046,18046,34,1,1,1,0,29621,1,0,0,12,5,345,1,815,0,unknown,NaN
18047,18047,34,0,2,1,0,94260,1,0,2,16,5,121,2,370,0,unknown,NaN
18048,18048,31,9,2,1,0,65483,1,0,2,15,5,345,2,41,0,unknown,NaN
18049,18049,30,5,1,0,0,6474,0,0,0,13,8,158,1,699,0,unknown,NaN

In [14]:
le = le.fit(data['poutcome'])
data['poutcome'] = le.transform(data['poutcome'])
data

,id,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,0,31,7,1,1,0,12294,1,0,0,21,11,101,3,498,0,1,0.0
1,1,29,2,2,2,0,43027,0,0,0,22,8,158,2,702,0,3,1.0
2,2,35,4,1,2,0,12252,1,0,0,11,11,351,1,826,0,0,0.0
3,3,31,9,1,1,0,99121,1,1,2,16,5,658,2,120,0,0,0.0
4,4,48,10,1,0,0,42005,1,0,1,3,4,177,1,273,0,3,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18045,18045,49,6,1,2,0,98357,1,0,0,6,7,101,2,417,0,0,NaN
18046,18046,34,1,1,1,0,29621,1,0,0,12,5,345,1,815,0,3,NaN
18047,18047,34,0,2,1,0,94260,1,0,2,16,5,121,2,370,0,3,NaN
18048,18048,31,9,2,1,0,65483,1,0,2,15,5,345,2,41,0,3,NaN
18049,18049,30,5,1,0,0,6474,0,0,0,13,8,158,1,699,0,3,NaN

In [15]:
train = data[:len(train)]
test = data[len(train):]

In [16]:
y_train = train['y']
X_train = train.drop(['y','id','pdays'], axis=1)
X_test = test.drop(['y','id','pdays'], axis=1)

In [17]:
# クロスバリデーション

from sklearn.model_selection import StratifiedKFold
import lightgbm as lgb
from sklearn import metrics
import optuna

/opt/anaconda3/lib/python3.7/site-packages/lightgbm/__init__.py:48: UserWarning: Starting from version 2.2.1, the library file in distribution wheels for macOS is built by the Apple Clang (Xcode_8.3.3) compiler.
This means that in case of installing LightGBM from PyPI via the ``pip install lightgbm`` command, you don't need to install the gcc compiler anymore.
Instead of that, you need to install the OpenMP library, which is required for running LightGBM on the system with the Apple Clang compiler.
You can install the OpenMP library by the following command: ``brew install libomp``.
  "You can install the OpenMP library by the following command: ``brew install libomp``.", UserWarning)

In [18]:
def get_evaluate(y_test, predict):
    fpr, tpr, thr_arr = metrics.roc_curve(y_test, predict)
    accuracy = metrics.auc(fpr, tpr)
    roc = metrics.roc_auc_score(y_test, predict)      
    return roc

In [19]:
X_train

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,previous,poutcome
0,31,7,1,1,0,12294,1,0,0,21,11,101,3,0,1
1,29,2,2,2,0,43027,0,0,0,22,8,158,2,0,3
2,35,4,1,2,0,12252,1,0,0,11,11,351,1,0,0
3,31,9,1,1,0,99121,1,1,2,16,5,658,2,0,0
4,48,10,1,0,0,42005,1,0,1,3,4,177,1,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27095,37,1,1,1,0,26661,1,0,0,27,5,345,4,0,3
27096,35,7,1,1,0,42150,1,0,0,27,5,121,1,0,3
27097,35,7,1,3,0,34531,0,0,0,28,6,177,2,0,3
27098,30,0,2,1,0,99621,1,0,0,27,5,121,1,0,3
27099,34,4,1,2,0,8657,1,0,0,27,5,345,2,0,3

In [20]:
from sklearn.model_selection import train_test_split
X_train, X_valid, y_train, y_valid = train_test_split(X_train, y_train, test_size=0.3, random_state=0, stratify=y_train)

In [21]:
categorical_features = ['job', 'marital', 'education','housing','loan','contact','month','poutcome']

In [22]:
# パラメータチューニング
lgb_train = lgb.Dataset(X_train, y_train, categorical_feature=categorical_features, free_raw_data=False)
lgb_test = lgb.Dataset(X_test)
params = {
    'metric' :'auc',
    "objective": "binary",
}
clf = optuna.integration.lightgbm.train(
     params, lgb_train, valid_sets=lgb_test, verbose_eval=10, early_stopping_rounds=5,
 )
best_params = clf.params

feature_fraction, val_score: -inf:   0%|          | 0/7 [00:00<?, ?it/s]/opt/anaconda3/lib/python3.7/site-packages/lightgbm/basic.py:1243: UserWarning: Using categorical_feature in Dataset.
  warnings.warn('Using categorical_feature in Dataset.')
/opt/anaconda3/lib/python3.7/site-packages/lightgbm/basic.py:1247: UserWarning: categorical_feature in Dataset is overridden.
New categorical_feature is ['contact', 'education', 'housing', 'job', 'loan', 'marital', 'month', 'poutcome']
  'New categorical_feature is {}'.format(sorted(list(categorical_feature))))

Training until validation scores don't improve for 5 rounds
Early stopping, best iteration is:
[1]	valid_0's auc: 1

feature_fraction, val_score: 1.000000:  14%|#4        | 1/7 [00:00<00:01,  5.38it/s][I 2020-08-14 20:04:13,630] Trial 0 finished with value: 1.0 and parameters: {'feature_fraction': 0.4}. Best is trial 0 with value: 1.0.
feature_fraction, val_score: 1.000000:  14%|#4        | 1/7 [00:00<00:01,  5.38it/s]

Training until validation scores don't improve for 5 rounds
Early stopping, best iteration is:
[1]	valid_0's auc: 1

feature_fraction, val_score: 1.000000:  29%|##8       | 2/7 [00:00<00:00,  5.91it/s][I 2020-08-14 20:04:13,761] Trial 1 finished with value: 1.0 and parameters: {'feature_fraction': 0.6}. Best is trial 0 with value: 1.0.
feature_fraction, val_score: 1.000000:  29%|##8       | 2/7 [00:00<00:00,  5.91it/s]

Training until validation scores don't improve for 5 rounds
Early stopping, best iteration is:
[1]	valid_0's auc: 1

feature_fraction, val_score: 1.000000:  43%|####2     | 3/7 [00:00<00:00,  6.61it/s][I 2020-08-14 20:04:13,866] Trial 2 finished with value: 1.0 and parameters: {'feature_fraction': 0.8}. Best is trial 0 with value: 1.0.
feature_fraction, val_score: 1.000000:  43%|####2     | 3/7 [00:00<00:00,  6.61it/s]

Training until validation scores don't improve for 5 rounds
Early stopping, best iteration is:
[1]	valid_0's auc: 1

feature_fraction, val_score: 1.000000:  57%|#####7    | 4/7 [00:00<00:00,  7.06it/s][I 2020-08-14 20:04:13,987] Trial 3 finished with value: 1.0 and parameters: {'feature_fraction': 0.5}. Best is trial 0 with value: 1.0.
feature_fraction, val_score: 1.000000:  57%|#####7    | 4/7 [00:00<00:00,  7.06it/s]

Training until validation scores don't improve for 5 rounds
Early stopping, best iteration is:
[1]	valid_0's auc: 1

feature_fraction, val_score: 1.000000:  71%|#######1  | 5/7 [00:00<00:00,  7.55it/s][I 2020-08-14 20:04:14,096] Trial 4 finished with value: 1.0 and parameters: {'feature_fraction': 0.8999999999999999}. Best is trial 0 with value: 1.0.
feature_fraction, val_score: 1.000000:  71%|#######1  | 5/7 [00:00<00:00,  7.55it/s]

Training until validation scores don't improve for 5 rounds
Early stopping, best iteration is:
[1]	valid_0's auc: 1

feature_fraction, val_score: 1.000000:  86%|########5 | 6/7 [00:00<00:00,  7.53it/s][I 2020-08-14 20:04:14,229] Trial 5 finished with value: 1.0 and parameters: {'feature_fraction': 0.7}. Best is trial 0 with value: 1.0.
feature_fraction, val_score: 1.000000:  86%|########5 | 6/7 [00:00<00:00,  7.53it/s]

Training until validation scores don't improve for 5 rounds
Early stopping, best iteration is:
[1]	valid_0's auc: 1

feature_fraction, val_score: 1.000000: 100%|##########| 7/7 [00:00<00:00,  7.57it/s][I 2020-08-14 20:04:14,362] Trial 6 finished with value: 1.0 and parameters: {'feature_fraction': 1.0}. Best is trial 0 with value: 1.0.
feature_fraction, val_score: 1.000000: 100%|##########| 7/7 [00:00<00:00,  7.54it/s]
num_leaves, val_score: 1.000000:   0%|          | 0/20 [00:00<?, ?it/s]

Training until validation scores don't improve for 5 rounds
Early stopping, best iteration is:
[1]	valid_0's auc: 1

num_leaves, val_score: 1.000000:   5%|5         | 1/20 [00:00<00:03,  5.21it/s][I 2020-08-14 20:04:14,570] Trial 7 finished with value: 1.0 and parameters: {'num_leaves': 94}. Best is trial 7 with value: 1.0.
num_leaves, val_score: 1.000000:   5%|5         | 1/20 [00:00<00:03,  5.21it/s]

Training until validation scores don't improve for 5 rounds
Early stopping, best iteration is:
[1]	valid_0's auc: 1

num_leaves, val_score: 1.000000:  10%|#         | 2/20 [00:00<00:03,  4.72it/s][I 2020-08-14 20:04:14,828] Trial 8 finished with value: 1.0 and parameters: {'num_leaves': 144}. Best is trial 7 with value: 1.0.
num_leaves, val_score: 1.000000:  10%|#         | 2/20 [00:00<00:03,  4.72it/s]

Training until validation scores don't improve for 5 rounds
Early stopping, best iteration is:
[1]	valid_0's auc: 1

num_leaves, val_score: 1.000000:  15%|#5        | 3/20 [00:00<00:03,  5.32it/s][I 2020-08-14 20:04:14,963] Trial 9 finished with value: 1.0 and parameters: {'num_leaves': 106}. Best is trial 7 with value: 1.0.
num_leaves, val_score: 1.000000:  15%|#5        | 3/20 [00:00<00:03,  5.32it/s]

Training until validation scores don't improve for 5 rounds
Early stopping, best iteration is:
[1]	valid_0's auc: 1

num_leaves, val_score: 1.000000:  20%|##        | 4/20 [00:00<00:03,  4.74it/s][I 2020-08-14 20:04:15,224] Trial 10 finished with value: 1.0 and parameters: {'num_leaves': 249}. Best is trial 7 with value: 1.0.
num_leaves, val_score: 1.000000:  20%|##        | 4/20 [00:00<00:03,  4.74it/s]

Training until validation scores don't improve for 5 rounds
Early stopping, best iteration is:
[1]	valid_0's auc: 1

num_leaves, val_score: 1.000000:  20%|##        | 4/20 [00:00<00:03,  4.74it/s][I 2020-08-14 20:04:15,300] Trial 11 finished with value: 1.0 and parameters: {'num_leaves': 6}. Best is trial 7 with value: 1.0.
num_leaves, val_score: 1.000000:  25%|##5       | 5/20 [00:00<00:03,  4.74it/s]

Training until validation scores don't improve for 5 rounds
Early stopping, best iteration is:
[1]	valid_0's auc: 1

num_leaves, val_score: 1.000000:  30%|###       | 6/20 [00:01<00:02,  5.31it/s][I 2020-08-14 20:04:15,497] Trial 12 finished with value: 1.0 and parameters: {'num_leaves': 245}. Best is trial 7 with value: 1.0.
num_leaves, val_score: 1.000000:  30%|###       | 6/20 [00:01<00:02,  5.31it/s]

Training until validation scores don't improve for 5 rounds
Early stopping, best iteration is:
[1]	valid_0's auc: 1

num_leaves, val_score: 1.000000:  35%|###5      | 7/20 [00:01<00:02,  5.75it/s][I 2020-08-14 20:04:15,636] Trial 13 finished with value: 1.0 and parameters: {'num_leaves': 23}. Best is trial 7 with value: 1.0.
num_leaves, val_score: 1.000000:  35%|###5      | 7/20 [00:01<00:02,  5.75it/s]

Training until validation scores don't improve for 5 rounds
Early stopping, best iteration is:
[1]	valid_0's auc: 1

num_leaves, val_score: 1.000000:  35%|###5      | 7/20 [00:01<00:02,  5.75it/s][I 2020-08-14 20:04:15,725] Trial 14 finished with value: 1.0 and parameters: {'num_leaves': 179}. Best is trial 7 with value: 1.0.
num_leaves, val_score: 1.000000:  40%|####      | 8/20 [00:01<00:02,  5.75it/s]

Training until validation scores don't improve for 5 rounds
Early stopping, best iteration is:
[1]	valid_0's auc: 1

num_leaves, val_score: 1.000000:  45%|####5     | 9/20 [00:01<00:01,  6.86it/s][I 2020-08-14 20:04:15,795] Trial 15 finished with value: 1.0 and parameters: {'num_leaves': 54}. Best is trial 7 with value: 1.0.
num_leaves, val_score: 1.000000:  45%|####5     | 9/20 [00:01<00:01,  6.86it/s]

Training until validation scores don't improve for 5 rounds
Early stopping, best iteration is:
[1]	valid_0's auc: 1

num_leaves, val_score: 1.000000:  50%|#####     | 10/20 [00:01<00:01,  7.17it/s][I 2020-08-14 20:04:15,921] Trial 16 finished with value: 1.0 and parameters: {'num_leaves': 207}. Best is trial 7 with value: 1.0.
num_leaves, val_score: 1.000000:  50%|#####     | 10/20 [00:01<00:01,  7.17it/s]

Training until validation scores don't improve for 5 rounds
Early stopping, best iteration is:
[1]	valid_0's auc: 1

num_leaves, val_score: 1.000000:  55%|#####5    | 11/20 [00:01<00:01,  6.66it/s][I 2020-08-14 20:04:16,095] Trial 17 finished with value: 1.0 and parameters: {'num_leaves': 177}. Best is trial 7 with value: 1.0.
num_leaves, val_score: 1.000000:  55%|#####5    | 11/20 [00:01<00:01,  6.66it/s]

Training until validation scores don't improve for 5 rounds
Early stopping, best iteration is:
[1]	valid_0's auc: 1

num_leaves, val_score: 1.000000:  55%|#####5    | 11/20 [00:01<00:01,  6.66it/s][I 2020-08-14 20:04:16,191] Trial 18 finished with value: 1.0 and parameters: {'num_leaves': 64}. Best is trial 7 with value: 1.0.
num_leaves, val_score: 1.000000:  60%|######    | 12/20 [00:01<00:01,  6.66it/s]

Training until validation scores don't improve for 5 rounds
Early stopping, best iteration is:
[1]	valid_0's auc: 1

num_leaves, val_score: 1.000000:  65%|######5   | 13/20 [00:01<00:00,  7.44it/s][I 2020-08-14 20:04:16,291] Trial 19 finished with value: 1.0 and parameters: {'num_leaves': 210}. Best is trial 7 with value: 1.0.
num_leaves, val_score: 1.000000:  65%|######5   | 13/20 [00:01<00:00,  7.44it/s]

Training until validation scores don't improve for 5 rounds
Early stopping, best iteration is:
[1]	valid_0's auc: 1

num_leaves, val_score: 1.000000:  65%|######5   | 13/20 [00:01<00:00,  7.44it/s][I 2020-08-14 20:04:16,371] Trial 20 finished with value: 1.0 and parameters: {'num_leaves': 151}. Best is trial 7 with value: 1.0.
num_leaves, val_score: 1.000000:  70%|#######   | 14/20 [00:02<00:00,  7.44it/s]

Training until validation scores don't improve for 5 rounds
Early stopping, best iteration is:
[1]	valid_0's auc: 1

num_leaves, val_score: 1.000000:  75%|#######5  | 15/20 [00:02<00:00,  8.29it/s][I 2020-08-14 20:04:16,477] Trial 21 finished with value: 1.0 and parameters: {'num_leaves': 51}. Best is trial 7 with value: 1.0.
num_leaves, val_score: 1.000000:  75%|#######5  | 15/20 [00:02<00:00,  8.29it/s]

Training until validation scores don't improve for 5 rounds
Early stopping, best iteration is:
[1]	valid_0's auc: 1

num_leaves, val_score: 1.000000:  80%|########  | 16/20 [00:02<00:00,  5.39it/s][I 2020-08-14 20:04:16,805] Trial 22 finished with value: 1.0 and parameters: {'num_leaves': 83}. Best is trial 7 with value: 1.0.
num_leaves, val_score: 1.000000:  80%|########  | 16/20 [00:02<00:00,  5.39it/s]

Training until validation scores don't improve for 5 rounds
Early stopping, best iteration is:
[1]	valid_0's auc: 1

num_leaves, val_score: 1.000000:  85%|########5 | 17/20 [00:02<00:00,  4.13it/s][I 2020-08-14 20:04:17,178] Trial 23 finished with value: 1.0 and parameters: {'num_leaves': 212}. Best is trial 7 with value: 1.0.
num_leaves, val_score: 1.000000:  85%|########5 | 17/20 [00:02<00:00,  4.13it/s]

Training until validation scores don't improve for 5 rounds
Early stopping, best iteration is:
[1]	valid_0's auc: 1

num_leaves, val_score: 1.000000:  90%|######### | 18/20 [00:02<00:00,  4.95it/s][I 2020-08-14 20:04:17,287] Trial 24 finished with value: 1.0 and parameters: {'num_leaves': 135}. Best is trial 7 with value: 1.0.
num_leaves, val_score: 1.000000:  90%|######### | 18/20 [00:02<00:00,  4.95it/s]

Training until validation scores don't improve for 5 rounds
Early stopping, best iteration is:
[1]	valid_0's auc: 1

num_leaves, val_score: 1.000000:  90%|######### | 18/20 [00:02<00:00,  4.95it/s][I 2020-08-14 20:04:17,363] Trial 25 finished with value: 1.0 and parameters: {'num_leaves': 49}. Best is trial 7 with value: 1.0.
num_leaves, val_score: 1.000000:  95%|#########5| 19/20 [00:02<00:00,  4.95it/s]

Training until validation scores don't improve for 5 rounds
Early stopping, best iteration is:
[1]	valid_0's auc: 1

num_leaves, val_score: 1.000000: 100%|##########| 20/20 [00:03<00:00,  5.76it/s][I 2020-08-14 20:04:17,505] Trial 26 finished with value: 1.0 and parameters: {'num_leaves': 91}. Best is trial 7 with value: 1.0.
num_leaves, val_score: 1.000000: 100%|##########| 20/20 [00:03<00:00,  6.38it/s]
bagging, val_score: 1.000000:   0%|          | 0/10 [00:00<?, ?it/s]

Training until validation scores don't improve for 5 rounds
Early stopping, best iteration is:
[1]	valid_0's auc: 1

bagging, val_score: 1.000000:   0%|          | 0/10 [00:00<?, ?it/s][I 2020-08-14 20:04:17,609] Trial 27 finished with value: 1.0 and parameters: {'bagging_fraction': 0.8945459593551719, 'bagging_freq': 4}. Best is trial 27 with value: 1.0.
bagging, val_score: 1.000000:  10%|#         | 1/10 [00:00<00:01,  6.98it/s]

Training until validation scores don't improve for 5 rounds
Early stopping, best iteration is:
[1]	valid_0's auc: 1

bagging, val_score: 1.000000:  20%|##        | 2/10 [00:00<00:01,  5.96it/s][I 2020-08-14 20:04:17,859] Trial 28 finished with value: 1.0 and parameters: {'bagging_fraction': 0.42335401764659847, 'bagging_freq': 7}. Best is trial 27 with value: 1.0.
bagging, val_score: 1.000000:  20%|##        | 2/10 [00:00<00:01,  5.96it/s]

Training until validation scores don't improve for 5 rounds
Early stopping, best iteration is:
[1]	valid_0's auc: 1

bagging, val_score: 1.000000:  20%|##        | 2/10 [00:00<00:01,  5.96it/s][I 2020-08-14 20:04:17,911] Trial 29 finished with value: 1.0 and parameters: {'bagging_fraction': 0.4190691169771623, 'bagging_freq': 1}. Best is trial 27 with value: 1.0.
bagging, val_score: 1.000000:  30%|###       | 3/10 [00:00<00:01,  5.96it/s]

Training until validation scores don't improve for 5 rounds
Early stopping, best iteration is:
[1]	valid_0's auc: 1

bagging, val_score: 1.000000:  40%|####      | 4/10 [00:00<00:00,  7.43it/s][I 2020-08-14 20:04:17,971] Trial 30 finished with value: 1.0 and parameters: {'bagging_fraction': 0.9981208659352746, 'bagging_freq': 4}. Best is trial 27 with value: 1.0.
bagging, val_score: 1.000000:  40%|####      | 4/10 [00:00<00:00,  7.43it/s]

Training until validation scores don't improve for 5 rounds
Early stopping, best iteration is:
[1]	valid_0's auc: 1

bagging, val_score: 1.000000:  40%|####      | 4/10 [00:00<00:00,  7.43it/s][I 2020-08-14 20:04:18,041] Trial 31 finished with value: 1.0 and parameters: {'bagging_fraction': 0.8738693275880954, 'bagging_freq': 7}. Best is trial 27 with value: 1.0.
bagging, val_score: 1.000000:  50%|#####     | 5/10 [00:00<00:00,  7.43it/s]

Training until validation scores don't improve for 5 rounds
Early stopping, best iteration is:
[1]	valid_0's auc: 1

bagging, val_score: 1.000000:  60%|######    | 6/10 [00:00<00:00,  8.61it/s][I 2020-08-14 20:04:18,119] Trial 32 finished with value: 1.0 and parameters: {'bagging_fraction': 0.4082983124582961, 'bagging_freq': 1}. Best is trial 27 with value: 1.0.
bagging, val_score: 1.000000:  60%|######    | 6/10 [00:00<00:00,  8.61it/s]

Training until validation scores don't improve for 5 rounds
Early stopping, best iteration is:
[1]	valid_0's auc: 1

bagging, val_score: 1.000000:  70%|#######   | 7/10 [00:00<00:00,  8.70it/s][I 2020-08-14 20:04:18,231] Trial 33 finished with value: 1.0 and parameters: {'bagging_fraction': 0.41589949822211514, 'bagging_freq': 6}. Best is trial 27 with value: 1.0.
bagging, val_score: 1.000000:  70%|#######   | 7/10 [00:00<00:00,  8.70it/s]

Training until validation scores don't improve for 5 rounds
Early stopping, best iteration is:
[1]	valid_0's auc: 1

bagging, val_score: 1.000000:  70%|#######   | 7/10 [00:00<00:00,  8.70it/s][I 2020-08-14 20:04:18,316] Trial 34 finished with value: 1.0 and parameters: {'bagging_fraction': 0.9794991867023456, 'bagging_freq': 1}. Best is trial 27 with value: 1.0.
bagging, val_score: 1.000000:  80%|########  | 8/10 [00:00<00:00,  8.70it/s]

Training until validation scores don't improve for 5 rounds
Early stopping, best iteration is:
[1]	valid_0's auc: 1

bagging, val_score: 1.000000:  90%|######### | 9/10 [00:00<00:00,  9.37it/s][I 2020-08-14 20:04:18,409] Trial 35 finished with value: 1.0 and parameters: {'bagging_fraction': 0.6476241718539681, 'bagging_freq': 3}. Best is trial 27 with value: 1.0.
bagging, val_score: 1.000000:  90%|######### | 9/10 [00:00<00:00,  9.37it/s]

Training until validation scores don't improve for 5 rounds
Early stopping, best iteration is:
[1]	valid_0's auc: 1

bagging, val_score: 1.000000:  90%|######### | 9/10 [00:00<00:00,  9.37it/s][I 2020-08-14 20:04:18,496] Trial 36 finished with value: 1.0 and parameters: {'bagging_fraction': 0.605150204118374, 'bagging_freq': 5}. Best is trial 27 with value: 1.0.
bagging, val_score: 1.000000: 100%|##########| 10/10 [00:00<00:00, 10.21it/s]
feature_fraction_stage2, val_score: 1.000000:   0%|          | 0/3 [00:00<?, ?it/s]

Training until validation scores don't improve for 5 rounds
Early stopping, best iteration is:
[1]	valid_0's auc: 1

feature_fraction_stage2, val_score: 1.000000:   0%|          | 0/3 [00:00<?, ?it/s][I 2020-08-14 20:04:18,584] Trial 37 finished with value: 1.0 and parameters: {'feature_fraction': 0.44800000000000006}. Best is trial 37 with value: 1.0.
feature_fraction_stage2, val_score: 1.000000:  33%|###3      | 1/3 [00:00<00:00, 11.98it/s]

Training until validation scores don't improve for 5 rounds
Early stopping, best iteration is:
[1]	valid_0's auc: 1

feature_fraction_stage2, val_score: 1.000000:  67%|######6   | 2/3 [00:00<00:00, 14.56it/s][I 2020-08-14 20:04:18,653] Trial 38 finished with value: 1.0 and parameters: {'feature_fraction': 0.41600000000000004}. Best is trial 37 with value: 1.0.
feature_fraction_stage2, val_score: 1.000000:  67%|######6   | 2/3 [00:00<00:00, 14.56it/s]

Training until validation scores don't improve for 5 rounds
Early stopping, best iteration is:
[1]	valid_0's auc: 1

feature_fraction_stage2, val_score: 1.000000:  67%|######6   | 2/3 [00:00<00:00, 14.56it/s][I 2020-08-14 20:04:18,736] Trial 39 finished with value: 1.0 and parameters: {'feature_fraction': 0.48000000000000004}. Best is trial 37 with value: 1.0.
feature_fraction_stage2, val_score: 1.000000: 100%|##########| 3/3 [00:00<00:00, 12.94it/s]
regularization_factors, val_score: 1.000000:   0%|          | 0/20 [00:00<?, ?it/s]

Training until validation scores don't improve for 5 rounds
Early stopping, best iteration is:
[1]	valid_0's auc: 1

regularization_factors, val_score: 1.000000:   0%|          | 0/20 [00:00<?, ?it/s][I 2020-08-14 20:04:18,816] Trial 40 finished with value: 1.0 and parameters: {'lambda_l1': 0.004088492103907157, 'lambda_l2': 1.0389144529943739e-08}. Best is trial 40 with value: 1.0.
regularization_factors, val_score: 1.000000:   5%|5         | 1/20 [00:00<00:01, 15.71it/s]

Training until validation scores don't improve for 5 rounds
Early stopping, best iteration is:
[1]	valid_0's auc: 1

regularization_factors, val_score: 1.000000:  10%|#         | 2/20 [00:00<00:01, 14.84it/s][I 2020-08-14 20:04:18,894] Trial 41 finished with value: 1.0 and parameters: {'lambda_l1': 2.1502328893082467e-08, 'lambda_l2': 7.385188446376135}. Best is trial 40 with value: 1.0.
regularization_factors, val_score: 1.000000:  10%|#         | 2/20 [00:00<00:01, 14.84it/s]

Training until validation scores don't improve for 5 rounds
Early stopping, best iteration is:
[1]	valid_0's auc: 1

regularization_factors, val_score: 1.000000:  10%|#         | 2/20 [00:00<00:01, 14.84it/s][I 2020-08-14 20:04:18,957] Trial 42 finished with value: 1.0 and parameters: {'lambda_l1': 5.7185700064040335, 'lambda_l2': 0.000126857315200329}. Best is trial 40 with value: 1.0.
regularization_factors, val_score: 1.000000:  15%|#5        | 3/20 [00:00<00:01, 14.84it/s]

Training until validation scores don't improve for 5 rounds
Early stopping, best iteration is:
[1]	valid_0's auc: 1

regularization_factors, val_score: 1.000000:  20%|##        | 4/20 [00:00<00:01, 14.93it/s][I 2020-08-14 20:04:19,027] Trial 43 finished with value: 1.0 and parameters: {'lambda_l1': 2.6632764820487367e-08, 'lambda_l2': 0.9049865879118972}. Best is trial 40 with value: 1.0.
regularization_factors, val_score: 1.000000:  20%|##        | 4/20 [00:00<00:01, 14.93it/s]

Training until validation scores don't improve for 5 rounds
Early stopping, best iteration is:
[1]	valid_0's auc: 1

regularization_factors, val_score: 1.000000:  20%|##        | 4/20 [00:00<00:01, 14.93it/s][I 2020-08-14 20:04:19,087] Trial 44 finished with value: 1.0 and parameters: {'lambda_l1': 6.669435327585518e-05, 'lambda_l2': 1.494157444285783e-08}. Best is trial 40 with value: 1.0.
regularization_factors, val_score: 1.000000:  25%|##5       | 5/20 [00:00<00:01, 14.93it/s]

Training until validation scores don't improve for 5 rounds
Early stopping, best iteration is:
[1]	valid_0's auc: 1

regularization_factors, val_score: 1.000000:  30%|###       | 6/20 [00:00<00:00, 15.16it/s][I 2020-08-14 20:04:19,153] Trial 45 finished with value: 1.0 and parameters: {'lambda_l1': 1.353051932523307, 'lambda_l2': 0.00016006617968996914}. Best is trial 40 with value: 1.0.
regularization_factors, val_score: 1.000000:  30%|###       | 6/20 [00:00<00:00, 15.16it/s]

Training until validation scores don't improve for 5 rounds
Early stopping, best iteration is:
[1]	valid_0's auc: 1

regularization_factors, val_score: 1.000000:  30%|###       | 6/20 [00:00<00:00, 15.16it/s][I 2020-08-14 20:04:19,215] Trial 46 finished with value: 1.0 and parameters: {'lambda_l1': 7.923742697293004e-06, 'lambda_l2': 0.039532704821276285}. Best is trial 40 with value: 1.0.
regularization_factors, val_score: 1.000000:  35%|###5      | 7/20 [00:00<00:00, 15.16it/s]

Training until validation scores don't improve for 5 rounds
Early stopping, best iteration is:
[1]	valid_0's auc: 1

regularization_factors, val_score: 1.000000:  40%|####      | 8/20 [00:00<00:00, 15.27it/s][I 2020-08-14 20:04:19,281] Trial 47 finished with value: 1.0 and parameters: {'lambda_l1': 0.0029926402768737843, 'lambda_l2': 7.402993475741886e-07}. Best is trial 40 with value: 1.0.
regularization_factors, val_score: 1.000000:  40%|####      | 8/20 [00:00<00:00, 15.27it/s]

Training until validation scores don't improve for 5 rounds
Early stopping, best iteration is:
[1]	valid_0's auc: 1

regularization_factors, val_score: 1.000000:  40%|####      | 8/20 [00:00<00:00, 15.27it/s][I 2020-08-14 20:04:19,340] Trial 48 finished with value: 1.0 and parameters: {'lambda_l1': 7.194981712885984e-07, 'lambda_l2': 0.008811866290699055}. Best is trial 40 with value: 1.0.
regularization_factors, val_score: 1.000000:  45%|####5     | 9/20 [00:00<00:00, 15.27it/s]

Training until validation scores don't improve for 5 rounds
Early stopping, best iteration is:
[1]	valid_0's auc: 1

regularization_factors, val_score: 1.000000:  50%|#####     | 10/20 [00:00<00:00, 15.85it/s][I 2020-08-14 20:04:19,396] Trial 49 finished with value: 1.0 and parameters: {'lambda_l1': 0.07722622176504046, 'lambda_l2': 1.3644107572491395e-06}. Best is trial 40 with value: 1.0.
regularization_factors, val_score: 1.000000:  50%|#####     | 10/20 [00:00<00:00, 15.85it/s]

Training until validation scores don't improve for 5 rounds
Early stopping, best iteration is:
[1]	valid_0's auc: 1

regularization_factors, val_score: 1.000000:  50%|#####     | 10/20 [00:00<00:00, 15.85it/s][I 2020-08-14 20:04:19,466] Trial 50 finished with value: 1.0 and parameters: {'lambda_l1': 9.359573642465782e-07, 'lambda_l2': 2.1395031410635163e-06}. Best is trial 40 with value: 1.0.
regularization_factors, val_score: 1.000000:  55%|#####5    | 11/20 [00:00<00:00, 15.85it/s]

Training until validation scores don't improve for 5 rounds
Early stopping, best iteration is:
[1]	valid_0's auc: 1

regularization_factors, val_score: 1.000000:  60%|######    | 12/20 [00:00<00:00, 15.42it/s][I 2020-08-14 20:04:19,534] Trial 51 finished with value: 1.0 and parameters: {'lambda_l1': 0.15997123256048468, 'lambda_l2': 0.008725254642141377}. Best is trial 40 with value: 1.0.
regularization_factors, val_score: 1.000000:  60%|######    | 12/20 [00:00<00:00, 15.42it/s]

Training until validation scores don't improve for 5 rounds
Early stopping, best iteration is:
[1]	valid_0's auc: 1

regularization_factors, val_score: 1.000000:  60%|######    | 12/20 [00:00<00:00, 15.42it/s][I 2020-08-14 20:04:19,592] Trial 52 finished with value: 1.0 and parameters: {'lambda_l1': 0.0004051251124092132, 'lambda_l2': 0.475521127607257}. Best is trial 40 with value: 1.0.
regularization_factors, val_score: 1.000000:  65%|######5   | 13/20 [00:00<00:00, 15.42it/s]

Training until validation scores don't improve for 5 rounds
Early stopping, best iteration is:
[1]	valid_0's auc: 1

regularization_factors, val_score: 1.000000:  70%|#######   | 14/20 [00:00<00:00, 15.84it/s][I 2020-08-14 20:04:19,652] Trial 53 finished with value: 1.0 and parameters: {'lambda_l1': 1.0388024250516598e-07, 'lambda_l2': 1.3442100057674576e-05}. Best is trial 40 with value: 1.0.
regularization_factors, val_score: 1.000000:  70%|#######   | 14/20 [00:00<00:00, 15.84it/s]

Training until validation scores don't improve for 5 rounds
Early stopping, best iteration is:
[1]	valid_0's auc: 1

regularization_factors, val_score: 1.000000:  70%|#######   | 14/20 [00:00<00:00, 15.84it/s][I 2020-08-14 20:04:19,720] Trial 54 finished with value: 1.0 and parameters: {'lambda_l1': 0.03988825108320744, 'lambda_l2': 1.387258833739582e-07}. Best is trial 40 with value: 1.0.
regularization_factors, val_score: 1.000000:  75%|#######5  | 15/20 [00:00<00:00, 15.84it/s]

Training until validation scores don't improve for 5 rounds
Early stopping, best iteration is:
[1]	valid_0's auc: 1

regularization_factors, val_score: 1.000000:  80%|########  | 16/20 [00:01<00:00, 15.59it/s][I 2020-08-14 20:04:19,785] Trial 55 finished with value: 1.0 and parameters: {'lambda_l1': 3.592417561237571e-05, 'lambda_l2': 6.895395785149358}. Best is trial 40 with value: 1.0.
regularization_factors, val_score: 1.000000:  80%|########  | 16/20 [00:01<00:00, 15.59it/s]

Training until validation scores don't improve for 5 rounds
Early stopping, best iteration is:
[1]	valid_0's auc: 1

regularization_factors, val_score: 1.000000:  80%|########  | 16/20 [00:01<00:00, 15.59it/s][I 2020-08-14 20:04:19,845] Trial 56 finished with value: 1.0 and parameters: {'lambda_l1': 2.029619507783258, 'lambda_l2': 0.0013625779436501801}. Best is trial 40 with value: 1.0.
regularization_factors, val_score: 1.000000:  85%|########5 | 17/20 [00:01<00:00, 15.59it/s]

Training until validation scores don't improve for 5 rounds
Early stopping, best iteration is:
[1]	valid_0's auc: 1

regularization_factors, val_score: 1.000000:  90%|######### | 18/20 [00:01<00:00, 16.27it/s][I 2020-08-14 20:04:19,897] Trial 57 finished with value: 1.0 and parameters: {'lambda_l1': 0.0015264579657461128, 'lambda_l2': 2.3180433078994875e-05}. Best is trial 40 with value: 1.0.
regularization_factors, val_score: 1.000000:  90%|######### | 18/20 [00:01<00:00, 16.27it/s]

Training until validation scores don't improve for 5 rounds
Early stopping, best iteration is:
[1]	valid_0's auc: 1

regularization_factors, val_score: 1.000000:  90%|######### | 18/20 [00:01<00:00, 16.27it/s][I 2020-08-14 20:04:19,952] Trial 58 finished with value: 1.0 and parameters: {'lambda_l1': 3.2274239730280303e-06, 'lambda_l2': 5.145257534148598e-08}. Best is trial 40 with value: 1.0.
regularization_factors, val_score: 1.000000:  95%|#########5| 19/20 [00:01<00:00, 16.27it/s]

Training until validation scores don't improve for 5 rounds
Early stopping, best iteration is:
[1]	valid_0's auc: 1

regularization_factors, val_score: 1.000000: 100%|##########| 20/20 [00:01<00:00, 16.11it/s][I 2020-08-14 20:04:20,023] Trial 59 finished with value: 1.0 and parameters: {'lambda_l1': 0.31833511473090215, 'lambda_l2': 0.2529647734058402}. Best is trial 40 with value: 1.0.
regularization_factors, val_score: 1.000000: 100%|##########| 20/20 [00:01<00:00, 15.70it/s]
min_data_in_leaf, val_score: 1.000000:   0%|          | 0/5 [00:00<?, ?it/s]

Training until validation scores don't improve for 5 rounds
Early stopping, best iteration is:
[1]	valid_0's auc: 1

min_data_in_leaf, val_score: 1.000000:   0%|          | 0/5 [00:00<?, ?it/s][I 2020-08-14 20:04:20,101] Trial 60 finished with value: 1.0 and parameters: {'min_child_samples': 25}. Best is trial 60 with value: 1.0.
min_data_in_leaf, val_score: 1.000000:  20%|##        | 1/5 [00:00<00:00, 13.30it/s]

Training until validation scores don't improve for 5 rounds
Early stopping, best iteration is:
[1]	valid_0's auc: 1

min_data_in_leaf, val_score: 1.000000:  40%|####      | 2/5 [00:00<00:00, 16.61it/s][I 2020-08-14 20:04:20,162] Trial 61 finished with value: 1.0 and parameters: {'min_child_samples': 100}. Best is trial 60 with value: 1.0.
min_data_in_leaf, val_score: 1.000000:  40%|####      | 2/5 [00:00<00:00, 16.61it/s]

Training until validation scores don't improve for 5 rounds
Early stopping, best iteration is:
[1]	valid_0's auc: 1

min_data_in_leaf, val_score: 1.000000:  40%|####      | 2/5 [00:00<00:00, 16.61it/s][I 2020-08-14 20:04:20,224] Trial 62 finished with value: 1.0 and parameters: {'min_child_samples': 10}. Best is trial 60 with value: 1.0.
min_data_in_leaf, val_score: 1.000000:  60%|######    | 3/5 [00:00<00:00, 16.61it/s]

Training until validation scores don't improve for 5 rounds
Early stopping, best iteration is:
[1]	valid_0's auc: 1

min_data_in_leaf, val_score: 1.000000:  80%|########  | 4/5 [00:00<00:00, 16.86it/s][I 2020-08-14 20:04:20,275] Trial 63 finished with value: 1.0 and parameters: {'min_child_samples': 50}. Best is trial 60 with value: 1.0.
min_data_in_leaf, val_score: 1.000000:  80%|########  | 4/5 [00:00<00:00, 16.86it/s]

Training until validation scores don't improve for 5 rounds
Early stopping, best iteration is:
[1]	valid_0's auc: 1

min_data_in_leaf, val_score: 1.000000:  80%|########  | 4/5 [00:00<00:00, 16.86it/s][I 2020-08-14 20:04:20,340] Trial 64 finished with value: 1.0 and parameters: {'min_child_samples': 5}. Best is trial 60 with value: 1.0.
min_data_in_leaf, val_score: 1.000000: 100%|##########| 5/5 [00:00<00:00, 15.80it/s]

In [23]:
best_params

{'metric': 'auc',
 'objective': 'binary',
 'lambda_l1': 0.0,
 'lambda_l2': 0.0,
 'num_leaves': 31,
 'feature_fraction': 0.4,
 'bagging_fraction': 1.0,
 'bagging_freq': 0,
 'min_child_samples': 20}

In [24]:
cv = StratifiedKFold(n_splits=4, shuffle=True, random_state=0)
roc_list = []
for train_index, test_index in cv.split(X_train, y_train):
    X_tr = X_train.iloc[train_index]
    y_tr = y_train.iloc[train_index]
    X_va = X_train.iloc[test_index]
    y_va = y_train.iloc[test_index]
    lgb_train = lgb.Dataset(X_tr, y_tr, categorical_feature=categorical_features)
    lgb_test = lgb.Dataset(X_test)
    params = {
        'metric' :'auc',
        'objective': 'binary'
    }
    clf = lgb.train(best_params, lgb_train,100)
    y_predict = clf.predict(X_va, num_iteration=clf.best_iteration)
    roc= get_evaluate(y_va, y_predict)
    print('roc:{}'.format(roc))
    roc_list.append(roc)
print('Kfold平均 roc:{}'.format(np.mean(roc_list)))
y_predict

/opt/anaconda3/lib/python3.7/site-packages/lightgbm/basic.py:1243: UserWarning: Using categorical_feature in Dataset.
  warnings.warn('Using categorical_feature in Dataset.')

roc:0.8472061359324109

/opt/anaconda3/lib/python3.7/site-packages/lightgbm/basic.py:1243: UserWarning: Using categorical_feature in Dataset.
  warnings.warn('Using categorical_feature in Dataset.')

roc:0.8557267878443273

/opt/anaconda3/lib/python3.7/site-packages/lightgbm/basic.py:1243: UserWarning: Using categorical_feature in Dataset.
  warnings.warn('Using categorical_feature in Dataset.')

roc:0.8545723108728915

/opt/anaconda3/lib/python3.7/site-packages/lightgbm/basic.py:1243: UserWarning: Using categorical_feature in Dataset.
  warnings.warn('Using categorical_feature in Dataset.')

roc:0.8462544549982431
Kfold平均 roc:0.8509399224119683

array([0.00847268, 0.00414743, 0.03402451, ..., 0.00394201, 0.07818097,
       0.02374185])

In [25]:
import lightgbm as lgb


lgb_train = lgb.Dataset(X_train, y_train, categorical_feature=categorical_features)
lgb_eval = lgb.Dataset(X_valid, y_valid, reference=lgb_train, categorical_feature=categorical_features)

params = {
    'metric' :'auc',
    'objective': 'binary'
}

model = lgb.train(
    best_params, lgb_train,
    valid_sets=[lgb_train, lgb_eval],
    verbose_eval=10,
    num_boost_round=1000,
    early_stopping_rounds=10
)

y_pred = model.predict(X_test, num_iteration=model.best_iteration)

/opt/anaconda3/lib/python3.7/site-packages/lightgbm/basic.py:1243: UserWarning: Using categorical_feature in Dataset.
  warnings.warn('Using categorical_feature in Dataset.')

Training until validation scores don't improve for 10 rounds
[10]	training's auc: 0.862827	valid_1's auc: 0.831583
[20]	training's auc: 0.879453	valid_1's auc: 0.843382
[30]	training's auc: 0.891227	valid_1's auc: 0.847068
[40]	training's auc: 0.90314	valid_1's auc: 0.848582
[50]	training's auc: 0.911144	valid_1's auc: 0.848239
Early stopping, best iteration is:
[43]	training's auc: 0.905494	valid_1's auc: 0.849416

In [26]:
y_pred

array([0.73373612, 0.09184915, 0.02758428, ..., 0.08144251, 0.00831636,
       0.15671077])

In [27]:
y_pred[:10]

array([0.73373612, 0.09184915, 0.02758428, 0.00505327, 0.0854993 ,
       0.01237765, 0.01425402, 0.13539414, 0.03756013, 0.00759351])

In [28]:
# y_pred = (y_pred > 0.65).astype(int)
# y_pred

In [29]:
submit

           0  1
0          0  0
1          1  0
2          2  0
3          3  0
4          4  0
...      ... ..
18045  18045  0
18046  18046  0
18047  18047  0
18048  18048  0
18049  18049  0

[18050 rows x 2 columns]

In [30]:
submit = submit.drop(1, axis=1)
# submit = submit.drop(0, axis=1)
submit['1'] = y_pred

In [31]:
submit

           0         1
0          0  0.733736
1          1  0.091849
2          2  0.027584
3          3  0.005053
4          4  0.085499
...      ...       ...
18045  18045  0.025332
18046  18046  0.007795
18047  18047  0.081443
18048  18048  0.008316
18049  18049  0.156711

[18050 rows x 2 columns]

In [33]:
submit.to_csv('lightgbm16_submit.csv',  index=False, header=None)